{% include 'includes/header.html' %}
    <h1 class="card-panel teal lighten-1 white-text center-align">TODO App</h1>
    <p class="center-align grey-text">Use the + icon on the bottom right to add a new TODO</p>
    {% if todos %}

        <div class="row">
            {% for todo in todos %}
            <div class="col s12 m6">
              <div class="card white">
                <div class="card-content">
                    <span class="card-title teal-text text-lighten-1">{{ todo.title }}</span>
                  <p class="grey-text text-darken-2">{{ todo.content }}</p>
                </div>
                <div class="card-action">
                  <a href="/todos/edit/{{todo.id}}" class="badge teal-text text-lighten-1"><i class="small material-icons">edit</i>EDIT</a>
                  <a href="/todos/delete/{{todo.id}}" class="confirmDelete red-text text-lighten-1"><i class="small material-icons">delete</i>DELETE</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
        <h3 class="center-align">Nothing here, created todo lists will show up here. Use the + button to create one</h3>
    {% endif %}

    <div class="fixed-action-btn">
      <a href="/todos/add" class="btn-floating btn-large red waves-effect waves-light">
        <i class="large material-icons">add</i>
      </a>
    </div>

<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmDelete');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete this entry?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>
{% include 'includes/footer.html' %}
